.habilidades10{
  background-color: rgba(174, 199, 17, 0.351);
  border: 8px ridge rgba(33, 31, 31, 0.838);
  box-shadow: 1px 1px 5px 10px rgba(236, 181, 17, 0.451);
  width: 50%;
  text-align: center;
}

.habilidades10>.titulo {
  background-color: rgba(240, 248, 255, 0.303);
  border-top: double 2px rgba(236, 236, 236, 0.673);
  font-family: 'Monofett', cursive;
  /* font-family: 'Press Start 2P', cursive; */
  color: rgba(255, 255, 255, 0.034);
  font-size: 39px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(5, 5, 5, 0.801);
  padding-bottom: 6px;
  letter-spacing: 9px;
}

.quadrado-habilidades10{
  display: flex;
  justify-content: center;

}

.quadrado-habilidades10>div {
  border: 2px ridge rgba(60, 60, 60, 0.352);
  padding: 4px 9px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.838);
  background-color: rgba(127, 134, 130, 0.327)
}

.powers>table>tr>td>.hp10 {
  width: 60px;
  height: 15px;
  background-color: rgba(0, 65, 206, 0.989);

}

.powers>table>tr>td>.attack10 {
  width: 90px;
  height: 15px;
  background-color: rgb(224, 53, 53);
}

.powers>table>tr>td>.defense10 {
  width: 60px;
  height: 15px;
  background-color: rgb(88, 199, 48);

}

.powers>table>tr>td>.speed10 {
  width: 140px;
  height: 15px;
  background-color: rgb(255, 237, 43);
}
.pikachu{
  cursor:auto;
  background-color: rgba(0, 0, 0, 0.342);
}
