.AppN {
    background: radial-gradient(rgba(93, 185, 24, 0.499), rgba(255, 255, 255, 0.602));
    margin: auto;
    width: 1000px;
    display: flex;
    height: 650px;
    margin-top: 200px;
  }
  
  section>article {
    padding: 6px 2px;
    margin-bottom: 5px;
    border: 1px rgba(245, 222, 179, 0.002) solid;
  }
  
  .catalogoN {
    height: inherit;
    width: 50%;
    border: rgba(255, 255, 255, 0.241) 2px solid;
  }
  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .catalogoN>h2 {
    margin: 20px;
    font-family: 'Londrina Shadow', cursive;
    font-size: 40px;
    text-align: center;
    
  }
  
  .catalogoN>section {
    background-color: rgba(119, 119, 119, 0.205);
    border: 3px rgba(255, 212, 133, 0.708) double;
    margin: 0px 20px;
    padding: 20px;
  }
  
  .nomesN:hover {
    background-color: rgba(240, 248, 255, 0.179);
  }
  
  .nomesN>a {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    color: rgba(0, 0, 0, 0.999);
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 2px;
  }
  
  .back_nextN {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
  }
  
  .back_nextN>button {
    padding: 10px 20px;
    background-color: transparent;
    background-color: rgba(116, 255, 114, 0.206);
    border: 2px rgba(255, 255, 255, 0.313) outset;
    font-family: 'Londrina Shadow', cursive;
    font-weight: bolder;
    font-size: 20px;
  }
  
  .back_nextN>button:hover {
    cursor: pointer;
    background-color: rgba(195, 255, 0, 0.24);
    border: 2px rgba(255, 255, 255, 0.734) outset;
    box-shadow: 3px 4px 2px rgba(22, 22, 22, 0.355);
  }
  
  .back_nextN>.next {
    border: 2px rgba(255, 255, 255, 0.581) inset;
  }
  
  .back_nextN>.next:hover {
    border: 2px rgba(255, 255, 255, 0.734) inset;
  }
  
  img {
    margin-top: 20px;
    padding: 20px 18px;
    border: solid black 2px;
    background-color: rgba(0, 0, 0, 0.447);
    border-radius: 30px;
    margin-bottom: 20px;
  }
  
  .quadrado-habilidadesN {
    display: flex;
    justify-content: center;
  }
  
  
  
  