body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(139, 139, 139);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 250px;
  width: 300px;
  margin-top: 20px;
  padding: 20px 18px;
  border: solid black 2px;
  background-color: rgba(0, 0, 0, 0.447);
  border-radius: 30px;
  margin-bottom: 20px;
}

.powers {
  margin: 20px 20px;
}

.powers>table {
  border-collapse: initial;
}

.powers>table>tr {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 12px transparent solid;
  /* border-spacing:0px 40px; */
}

.powers>table>tr>td {
  width: 460px;
  border: 1px rgba(0, 0, 0, 0.736) solid;
  background-color: rgba(27, 26, 27, 0.216);
}



@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Londrina+Shadow&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');