
.choose {
    background: radial-gradient(rgba(37, 37, 37, 0.249),rgba(236, 232, 232, 0)) ;
    border: 4px  rgba(204, 244, 103, 0.177) solid;
    
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose>h2{
    font-family: 'Londrina Shadow', cursive;
    align-items: center;
    font-size: 40px;
    background: radial-gradient(rgba(241, 241, 241, 0.027),rgba(253, 253, 253, 0)) ;
    padding: 30px;
}
.choose>h2{
    border: rgb(0, 0, 0) double 4px;
    animation-name: animacaoBorder;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes animacaoBorder{
    0%{
        border: 4px rgba(0, 0, 0, 0.807) double;
    }
    10%{
        border: 4px  double rgba(213, 27, 27, 0.988);
    }
    20%{
        border: 4px  double rgba(213, 126, 27, 0.988);
    }
    30%{ 
        border: 4px double rgba(180, 186, 1, 0.854);
    }
    40%{ 
        border: 4px double rgba(179, 230, 11, 0.854);
    }
    50%{
        border: 4px double rgb(255, 255, 255); 
    }
    60%{
        border: 4px double rgba(120, 251, 72, 0.772); 
    }
    70%{
        border: 4px double rgba(53, 240, 6, 0.82); 
    }
    80%{
        border: 4px double rgba(6, 107, 240, 0.82); 
    }
    100%{
        border: 4px double rgba(17, 79, 100, 0.976); 
    }
   
}
